$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$lightgrey: #EEEEEE;
$darkgrey: #757575;
$white: #fafafa;
$grey: #bdbdbd;
$green:#4CAF50;
$dark: #424242;

* {
    box-sizing: border-box;
  }
header{
    img{
            width:50%;
            object-fit: scale-down;
    }
}

body{
    background-color: $white;
    max-width: 900px;
    text-align: center;
    margin:auto;
    font-family: sans-serif;

    header{
        .loader {
            width: 40vw;
            height: 40vw;
            border-radius: 50%;
            background-color: $grey;
            position: fixed;
            left:30vw;
            top:10%;
            animation: load3 3s linear;
            animation-fill-mode:forwards;
        }

        .loader:before {
            width: 50%;
            height: 50%;
            background: $white;
            border-radius: 100% 0 0 0;
            position: absolute;
            top: 0;
            left: 0;
            content: '';
        }

        .loader:after {
            background: $tertiary;
            width: 85%;
            height: 85%;
            border-radius: 50%;
            content: '';
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        @keyframes load3 {
                0% {
                transform: rotate(0deg);
                }
                100% {
                transform: rotate(1440deg);
                opacity:0;
                z-index:-5;
            }
        }
    }

    .r_img{
        width:100%;
    }

    .menu_entry{
        h2{
            font-size: 30px;
        }

        p{
            font-size: 20px;
        }
    }

    .location{
        font-size: 22px;

        .fas{
            padding-right: 20px;
        }
    }

    button{
        border-radius: 2em;
        background: linear-gradient(170deg, $secondary 10%, $primary 60%);
        color: $white;
        font-size: 20px;
        padding: 22px;
        width:15em;
        margin: 10%;
    }
    
    button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }
    
    .explore_restaurants{
        background-color: $lightgrey;
        padding: 8%;
    
        p{
            padding:30px;
            font-size: 20px;
            color: $darkgrey;
        }
    
        h2{
            font-size: 30px;
        }
    }
    
    .location{
        background-color:$grey;
        border-top: solid $darkgrey;
        margin:0;
        padding:20px;
    }
    
    .options{
        text-align:left;
        padding:20px;
        p{
            font-size: 30px;
            font-weight: bold;
        }
    }
    
    .options_menu{
        border-radius: 1em;
        font-size: 20px;
        font-weight: bold;
        padding: 30px;
        background-color: $lightgrey;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        margin-bottom: 30px;
    
        .fas{
            color:grey;
            padding-right: 20px;
        }

        .fas:hover{
            color:$primary;
        }
    }
    
    .options_menu:hover{
        background-color:$secondary;
        .fas{
            color: $primary;
        }
    }
    
    .numbers{
        border-radius:50%;
        background: linear-gradient(170deg, $secondary 10%, $primary 60%);
        color: $white;
        font-size: 30px;
        width: 35px;
        text-align: center;
        display:inline-block;
        // margin-left:-5.5%;
        margin-left:-50px;
        margin-right:15px;
    }    

}

.restaurants{
    background-color: $lightgrey;
    color: black;
    padding:40px 40px 20px 40px;
    margin-top:40px;

    h2{
        text-align: left;
        font-size: 30px;
        padding-bottom: 25px;
    }
    
    h3{
        text-align:left;
    }

    p{
        text-align: left;
        margin-top: -40px;
        margin-left: 5px;
    }

    
    #new_item_menu{
        color: $green;
        background-color:$tertiary;
        width:30%;
        padding: 8px 25px;
        text-align: center;
        position:relative;
        z-index: auto;
        margin: 0px 0 -70px 65%;
    }

    .card{
        margin-top: 30px;
        border-radius:2em;
        background-color: $white;
        max-width:900px;
        margin:auto;
        margin-bottom: 60px;
        width: 100%;
        text-decoration:none;
        color:black;
        display:inline-block;
    
        h3{
            padding-left: 5%;
            font-size: 150%;
        }

        p{
            padding-left: 5%;
            font-size: 130%;
        }
    
        .far{
            font-size: 220%;
            border-width: 1px;
            position: relative;
            margin-left: 75%;
            bottom: 45px;
            cursor: pointer;
            font-weight:lighter;
                &:hover {
                    color: $primary;
                    font-weight:900;
               }
        }
    
        div{
            img{
                height: 210px;
                width:100%;
                border-radius: 30px 30px 0px 0px;
                object-fit: cover;
                object-position: left bottom;
            }
    
            #enchanted{
                width: 100%;
                height: 210px;
                object-fit: cover;
                object-position: 90% 50%;
            }
    
            .img-cont{
                height: 5%;
                overflow:hidden;
                border-radius: 30px 30px 0px 0px;
            }
        }
    }
}

.header_pages{
    display:inline-block;
    width:100%;
    padding: 2%;
    
i{
    color:black;
    font-size: 25px;
    position:relative;
    margin-left: -20%;
}
}

#enchant_img{
    height: 319px;
    object-fit: cover;
    object-position: 100% 40%;
}

.contact{
    background-color: $dark;
    padding: 50px 0px 30px 20px;
    text-align:left;
    color:$white;

    img{
        filter: invert(100%);
        height:20px;
        width:auto;
    }
}

.menu{
    background-color:$lightgrey;
    padding:3%;
    border-radius:2em;
    margin-top: -65px;
    position:relative;
    z-index: 999;

    img{
        width:100%;
        object-fit: contain;
    }

    h4, p{
        text-align:left;
        margin:15px;
    }

    h3{
        text-align: left;
        margin-bottom: 0;
    }
    
    h1{
        font-family: 'Shrikhand' ;
        text-align: left;
        font-size: 220%;
    }

    .far{
        display:flex;
        width:15%;
        font-size: 200%;
        border-width: 1px;
        position: relative;
        margin-left: 85%;
        bottom: 65px;
        cursor: pointer;
        font-weight:lighter;
            &:hover {
                color: $primary;
                font-weight:900;
           }
    }

    hr{
        width:60px;
        text-align:left;
        margin-left:0;
        margin-top:1%;
        margin-bottom: 5%;
        border: 3px solid $tertiary;
        background-color: $tertiary;
    }

    .menu_item{

        display:flex;
        border-radius: 1em;
        text-align:left; 
        animation-duration: 4s;
        animation-name: slideup;
        background-color: $lightgrey;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        margin-bottom: 30px;
        width:100%;
        height:100px;
        overflow: hidden;

        @keyframes slideup {
            from {
                margin-top: 10%;
                opacity: 0;
              }
            
              to {
                margin-top: 0%;
              }
        }

        .icon_rotate{
            animation: reverse 0.8s normal linear;
        }

        .menu_dishes{
            width:100%;
            display:inline-block;
        }
        
        .icon_container{
            width: 35%;
            display:flex;
            justify-content: center;
            align-items:center;
            background-color: $tertiary;
            animation: slideright 0.8s normal linear;
            animation-fill-mode: forwards;
            

            @keyframes slideright {
                from{
                    margin-right: 0;
                }

                to{
                    margin-right: -35%;
                }
            }


            .icon_rotate{
                color: $white;
                font-size: 250%;
            }
        }

        // ***** slide for the menu ****

        .money{
            display:flex;
            font-weight: bold;
            font-size: 120%;
            text-align: right;
            width: auto;
            height:auto;
            padding:8% 10% 0 0;
        }
        // ******** end of entree ********

        h3{
            font-size: 20px;
            font-weight: 300;
        }

        h4{
            font-weight: bold;
            font-size: 20px;
        }

        p{
            margin-bottom: 15%;
            display:block;
        }
    }

    .menu_item:hover{

        .menu_dishes{
            .description{
                white-space: nowrap;
                overflow:hidden;
                text-overflow: ellipsis;
            }
            white-space: nowrap;
            overflow:hidden;
            text-overflow: ellipsis;
            
        }

        .icon_container{
            display:flex;
            animation: slideleft 0.8s normal linear;
            animation-fill-mode: forwards;
            
            justify-content: center;
            align-items:center;


            .icon_rotate{
                animation: rotation 0.8s normal linear;
            }

            @keyframes slideleft{
                from{
                    margin-right: -35%;
                }

                to{
                    margin-right: 0;
                }
            }

            @keyframes reverse{
                50%{
                    transform: rotate(360deg)
                }
                50%{
                    transform: rotate(0deg)
                }
            }

            @keyframes rotation{
                50%{
                    transform: rotate(0deg)
                }
                50%{
                    transform: rotate(360deg)
                }
            }
        }

        @keyframes slidein{
            from {
                left: 15%;
            }

            to {
                right: 20%;
            }
        }
    
    }

}

footer{
    a{
        text-decoration:none;
        color:white;
    }
}

@media screen and (min-width: 480px) and (max-width: 1024px) and (orientation: portrait){

    body{
        display:flex;
        flex-direction:row;
        max-width:100%;
        flex-wrap:wrap;

        .logo img{
            width: 75%;
            object-fit: unset;
        
        }

        .logo{
            margin: 0 auto;
        }

        header{
            .loader{
                width: 40%;
                height:305px;
                border-radius: 50%;
                background-color: $grey;
                position: fixed;
                left:30%;
                top:10%;
                animation: load3 3s linear;
                animation-fill-mode:forwards;
            }
        }

        .menu_entry{
            width:100%;

            .explore_restaurants{
                width:100%;
                padding:2%;

                h2,p,a{
                    margin:2% 0;
                    padding:0;
                }

                a button{
                    margin:0;
                }
            }
        }

        .options{
            display:block;
            text-align:center;
            width:100%;
            align-items: center;
    
            p{
                text-align:center;
                font-size:3rem;
                margin: 3%;
                font-family: 'Shrikhand';
            }
        
            .how_wrapper{
                display:flex;
    
                .options_menu{
                    width:100%;
                    text-align:center;
                    margin:2%;
                    padding:0;

                    .icon-size{
                        width:50px;
                    }
                    
                    .choice{
                        padding:0;
                    }

                    .numbers{
                        margin-top:20px;
                    }
                }
            }
        }

        .restaurants{
            text-align: center;
            display:flex;
            justify-content: space-between;
            flex-wrap:wrap;
            margin-top: 0;

            h2{
                text-align:center;
                width:100%;
                padding:2%;
                font-size: 90px;
                box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.692), 0 10px 40px 0 rgba(0, 0, 0, 0.698);
                border-radius: 1em;
                border-style:none;
                font-family: 'Shrikhand';
            }

            .card{
                box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.692), 0 10px 40px 0 rgba(0, 0, 0, 0.698);
                width:40%;

                .far{
                    bottom: 10px;
                }
            }


        }

        .menu{
            width:100%;

            h1{
                font-size: 400%;
            }

            .far{
                margin-top: -45px;
                font-size: 50px;
            }

            .menu_section{
                display: flex;
                flex-direction: column;

                h3{
                    font-size: 160%;
                }

                .menu_item{
                    width:100%;
                   
                    h4{
                        font-size: 190%;
                    }

                    h3{
                        font-size: 160%;
                    }

                    p{
                        font-size: 150%;
                    }

                }

                .money{
                    margin:0;
                }
            }
            
        }
    }


    .contact{
        width:100%;
        flex-direction:row;
        text-align:unset;
    
        .div_wrap{
            display:flex;
            justify-content: space-around;
        }

        img{
            width: 75%;
            height: unset;
        }
    
        p{
            font-size: 30px;
        }

        a{
            font-size: 30px;
        }
    }
}

@media screen and (min-width: 1024px){
    body{
        width: 100%;
        max-width:none;
        padding:0;
        animation-duration: 3s;

        header{
            .loader{
                width: 40vw;
                height:40vw;
                border-radius: 50%;
                background-color: $lightgrey;
                position: fixed;
                left:30%;
                top:10%;
                animation: load3 3s linear;
                animation-fill-mode:forwards;
            }
        }

        .r_img{
            height:900px;
            object-fit:none;
            object-position:40% 65%;
        }

        #enchant_img{
            height:900px;
            object-position: 40% 60%;
        }

        .logo{
            img{
                object-fit:contain;
                width:30%
            }
        }

        .menu_entry{
            padding:0;
            width:100%;

            .explore_restaurants{
                padding:2%;
            }

            button{
                margin:0;
            }
        }

        .options{
            border-radius: 1em;
            font-size: 20px;
            font-weight: bold;
            margin-bottom:0;
            text-align: unset;
        
    
            .fas{
                color:grey;
                padding-right: 10px;
            }

            .how_wrapper{
                width:100%;
                display:flex;
                flex-direction: row;
                justify-content: space-around;
                
                .options_menu{
                    margin-bottom: initial;
                    padding:2%;
                }
            }
        }

        .restaurants{
            text-align: unset;
            width:100%;

            .card{
                width: 20%;
                height:100%;
                margin:1%;
                margin-bottom: 3%;

                .far{
                    bottom: 10px;
                }

                h3{
                    font-size:20px;
                }
            }
            
            h2{
                text-align:center;
                font-family: 'Shrikhand';
                font-size: 440%;
                margin: 0;
            }
        }

        .menu_wrapper{
            display:flex;
            padding:0 2%;
            justify-content: space-between;
            .menu_section{
                display:flex;
                flex-direction: column;
                width:30%;
    
                h3{
                    white-space: nowrap;
                }
            }
        }

        .menu{
            h1{
                text-align:center;
                font-size:400%;
            }

            .far{
                margin-top: -3%;
                font-size: 40px;
            }

            button{
                margin:3%;
            }
        }

        .contact{
            text-align: unset;  
            font-size: 10px;
    
            img{
                width: 30%;
                height: 100%;
            }
        
            p{
                font-size: 250%;
                margin: 32px 8%;
                white-space: nowrap;
            }

            a{
                font-size: 250%;
                margin: 0 30%;
                white-space: nowrap;
            }
    
            .div_wrap{
                display:flex;
                flex-direction: row;
    
                div{
                    display:flex;
                    flex-direction: row;
                    flex:auto;
    
                    a{
                        display:inline-block;
                        margin-top:32px;
                        margin-bottom: 32px;
                    }
                }
            }
        }
    }
}
